<%- include("parts/header") %>
<% var category = category || [] %> 



<div class="content my-3  " style="padding:80px 0px;">
  <div class="container">
<h2 class="text-center text-light">
  Kategoriyalar
</h2>


<div class="row g-4">
  <% for (let category of categories) { %>
  <div class="col-lg-4 col-md-6">
    <div class="card text-center" style="flex-grow:1;">
      <img style="height: 200px; width: 200px; object-fit: cover; margin: 0 auto;" src="public/images/<%= category.photo %>" class="card-img-top" alt="...">
      <div class="card-body">
       
        <a href="/category/<%= category._id%>" class="btn btn-primary m-0 p-2">
           <h5 class="card-title m-0 p-0"><%= category.name %></h5></a>
      </div>
    </div>


  </div>
  
  <% } %>
</div>

   </div>
</div>



<%- include("parts/footer") %>