<%- include("parts/header") %>
<% var category = category || [] %> 



<div class="content my-3  " style="padding:80px 0px;">
  <div class="container">
      <p id="receiver_id" class="visually-hidden">
          <%=  receiver._id %>
      </p>
<h2 class="text-center text-light">
 Xabarlar <%= receiver.name %>
</h2>


<ul
			id="messages"
			class="
				list-unstyled
				w-75
				mx-auto
				d-flex
				flex-column
				align-items-start
				border border-light border-3
				p-2
			"
			style="max-height: 70vh; overflow: auto"
		>
			<% for(let message of chats) {%> <%
			if(!(user._id.equals(message.owner_id)) ) {%>
			<li class="d-inline-block p-3 border border-2 border-success my-2">
				<p class="p-0 m-0"><%= message.message_text %></p>
			</li>
			<% } else { %>
			<li
				class="
					d-inline-block
					p-3
					border
					align-self-end
					border-2 border-primary
					my-2
				"
			>
				<p class="p-0 m-0"><%= message.message_text %></p>
			</li>
			<%} %> <% } %>
		</ul>

<form id="message_form" method="POST" class="w-75 mx-auto">

<textarea  id="text_area" name="message_text" class="form-control"></textarea>
<button class="btn w-100 mt-2 btn-outline-primary">
    Yuborish
</button>
</form>


   </div>
</div>



<%- include("parts/footer") %>